/* image du chalet */
.post-thumbnail img {
  width: 100%;
}

/* titre du chalet */
header.entry-header {
  margin: 0 0 20px 0;
}
h1.entry-title {
  margin: 0;
}

/* infos du chalet */
.content_description_icon {
  width: 15px;
  height: 15px;
  color: gray;
  background-color: #eee;
  border-radius: 50%;
  padding: 5px;
  margin-right: 5px;
}

.content_infos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 0 10px 0 10px;
}

.content_info_title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #888;
  font-weight: bold;
}
.content_info_title > svg {
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  .content_infos {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 400px) {
  .content_infos {
    grid-template-columns: 1fr;
  }
}

.content_separator {
  margin: 30px 0;
}
