.pagehome_content {
  width: 80%;
  margin: 0 10%;
  padding: 5%;
}

.wp-block-button__link {
  color: goldenrod !important;
  background-color: transparent !important;
  border: 1px solid goldenrod !important;
}
.wp-block-button__link:hover {
  color: #fff !important;
  background-color: goldenrod !important;
}
